/* Google fonts = Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Open+Sans:wght@400;700&family=Playfair+Display:wght@500&display=swap');

/* Set Global Scope Variables for some properties that i'm gonna use it continuously */
:root {
    --main-background-color: #000000cc;
    --border-radius-main-value: 20px;
    --border-radius-for-buttons: 10px;
}

/* Start Global Rules To All To Do List Website */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Give All Elements Font Family Lora and Sans-Serif as Alt Font To All Website Pages */
body {
    font-family: Lora, sans-serif;
    background-color: var(--main-background-color);
}

/* Start index.html page css rules */
/* Targets the main container inside index.html page and set below css rules to it */
.main-container {
    height: 100vh;
    position: relative;
    padding: 10px;
}

/* Targets the inside container itself and set below css rules to it */
.inside-container {
    width: 300px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f0f0f0;
    border-radius: var(--border-radius-main-value);
    box-shadow: 0 0 20px black inset;
}

/* Targets the img inside the inside container and set below css rules to it */
.main-container .inside-container img {
    border-radius: var(--border-radius-main-value);
    max-width: 100%;
}

/* Targets The h2 inside the inside container and set below css rules to it */
.main-container .inside-container h2 {
    padding-bottom: 10px;
}

/* Targets the P inside the inside container and set below css rules to it */
.main-container .inside-container p {
    padding: 10px 0;
}

/* Targets the Start button and set below css rules to it */
.start {
    width: 100px;
    height: 30px;
    position: relative;
    right: 15px;
    bottom: -10px;
    background-color: var(--main-background-color);
    color: white;
    border-radius: var(--border-radius-for-buttons);
    text-transform: uppercase;
    box-shadow: 0 0 20px #41ead4 inset;
    cursor: pointer;
    letter-spacing: 2.5px;
}

/* Targets the Exit button and set below css rules to it */
.close {
    width: 100px;
    height: 30px;
    position: relative;
    left: 15px;
    bottom: -10px;
    background-color: var(--main-background-color);
    color: white;
    border-radius: var(--border-radius-for-buttons);
    text-transform: uppercase;
    box-shadow: 0 0 20px #ff206e inset;
    cursor: pointer;
    margin-bottom: 10px;
    letter-spacing: 2.5px;
}


/* Start Media Rules to index.html page */
/* Set simple media rules till screens size: max-width = 530px */
@media screen and (max-width: 530px) {
    .inside-container {
        width: 200px;
    }

    .main-container .inside-container p {
        font-size: 11px;
    }

    .main-container .inside-container h2 {
        font-size: 15px;
    }

    .start,
    .close {
        width: 60px;
        font-size: 10px;
        margin-bottom: 5px;
    }
}

/*End Media Rules to index.html page */
/* End index.html page CSS rules */

/* Start seeyoulater.html page CSS rules / its Media Rules too */
.main-container h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 2px;
}

/* Add Media query till width: 405px */
@media screen and (max-width: 405px) {
    .main-container h3 {
        font-size: 10px;
    }
}

/* End seeyoulater.html page CSS rules / it's Media Rules too */

/* Start todolistpage.html page css rulse */
/* Targets the div with class .task-form-area and set below css rules */
.task-form-area {
    background-color: #cdcbcc;
    padding: 15px;
    border-radius: var(--border-radius-main-value);
}

/* Targets the input field with class .my-text-input 
in this field i will write my new task. set below css rules */
.my-text-input {
    padding: 15px;
    width: 100%;
    margin: 15px auto;
    border: 1px solid #e5e5e5;
    border-radius: var(--border-radius-main-value);
}

/* Remove the outline when focusing in input task field */
.my-text-input:focus {
    outline: none;
}

/* Targets the add button with class .add-btn
and I will copy some rules from previous start button rules and make some changes */
.add-btn {
    width: 115px;
    height: 50px;
    display: block;
    margin: auto;
    background-color: var(--main-background-color);
    color: white;
    border-radius: var(--border-radius-for-buttons);
    box-shadow: 0 0 20px #41ead4 inset;
    cursor: pointer;
    letter-spacing: 0.5px;
}

/* Targets the Exit button with class .exit-sulp and set below css rules */
.exit-sulp {
    width: 50px;
    height: 30px;
    display: block;
    margin-left: auto;
    background-color: var(--main-background-color);
    color: white;
    border-radius: var(--border-radius-for-buttons);
    box-shadow: 0 0 20px #ff206e inset;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Targets The div that will show and contain the added tasks and set below css rules */
.my-all-tasks {
    margin-top: 30px;
    background-color: white;
    border-radius: var(--border-radius-main-value);
    padding: 20px;
}

/* Targets The label inside .task-from-area (div), set css rules below */
.task-form-area label {
    display: block;
    margin-top: 10px;
    margin-left: 7px;
}

/* Targets Each div (new task added) inside the main div with class (.my-all-tasks) */
.my-all-tasks .the-new-task {
    background: #cdcbcc;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 15px auto;
    border-radius: var(--border-radius-main-value);
    font-size: 18px;
}

/* Add Media query for screens till width: 767px */
@media screen and (max-width: 767px) {
    .my-all-tasks .the-new-task {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }

    .my-all-tasks .del-btn {
        margin-top: 15px;
    }

}

/* Targets Each button inside each new task added inside the main div with class (.my-all-tasks) */
.my-all-tasks .del-btn {
    width: 60px;
    height: 30px;
    border-radius: var(--border-radius-for-buttons);
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: black;
    box-shadow: 0 0 30px #ff206e inset;
}

/* Target the Clear All button(input) with class (.clear-all-btn) */
.clear-all-btn {
    width: 115px;
    height: 50px;
    display: block;
    margin: auto;
    background-color: #333333;
    color: red;
    border-radius: var(--border-radius-for-buttons);
    cursor: pointer;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    border-color: red;
}

/* End todolistpage.html Page css rulse */